{% extends 'videos.html.twig' %}

{% block videoSelect %}
{% endblock %}

{% block languageSelect %}
{% endblock %}

{% block videoOptions %}
{% endblock %}

{% block javascriptFunctions %}
  {% do assets.addJs('theme://js/subtitlesPlayer.min.js', {priority: 106, loading: 'defer', position: 'before'}) %}
{% endblock %}

{% block lessons %}
{% if page.header.lessons is defined and page.header.lessons == true %} 
  <center><h4>Lesson Plan(s):</h4><div id="lessonPlans">
  {% for lesson in page.header.lessonList %}
  <a href="{{ theme_url }}/lessons/{{ lesson.name }}" target="_blank">{{ lesson.displayName }}</a>
  </div></center>
  {% endfor %}
{% endif %}
{% endblock %}

{% block inlineScript %}
<script>
  Window.Vinya = {
    defLang: '{{~grav.language.getActive~}}',
    videoID: '{{ page.header.videoID }}',
    errorMsg: '{{ error }}',
    localKey: '{{ page.header.pageIdentifier }}',
    functions: {},
    URLParams: { 
      time: "time",
      sub: "sub"
    }
  };
  // this function runs itself
  (function(){
    var lastParams = localStorage.getItem(Window.Vinya.localKey);
    // add the appropriate params to the website if they exist
    if (lastParams != undefined && window.location.search === '' && !window.location.href.includes(lastParams)) {
     window.location.search = lastParams;
    }
  })();
</script>
{% endblock %}
