{% extends 'partials/base.html.twig' %}

{% block content %} 

<div id="swapLanguage">
  <p>
    <a href="" id="en" >English</a>
  </p> 
  <p>|</p> 
  <p>
    <a href="" id="es" >Español</a>
  </p>
</div>

<center>
  <div class="wrapper">
    <div id="videoOptions" class="auto-grid">
      <div id="videoOption">
        <p>{{ page.header.select.videos }}</p>
        <select id="videos">
          {% for video in page.header.videos %}
            <option value="{{ video.name }}">{{ video.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div>
        <p>{{ page.header.select.languages }}</p>
        <select id="languages">
          {% for language in page.header.languages %}
            <option value="{{ language }}">{{ language }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</center>

<div id="videosFrames">
 <h2 id="videoTitle"></h2>

  <h3 id="videoError"></h3>
</div>

<script>
  Window.Vinya = {};
  Object.assign(Window.Vinya, {'errorMsg': '{{ page.header.error }}'});
  {% for video in page.header.videos %}
    Object.assign(Window.Vinya, {'{{ video.name }}': {} })
    {% for link in video.links %}
      Object.assign(Window.Vinya['{{ video.name }}'], { {{ link.language }}: "{{ link.link }}"});
    {% endfor %}
  {% endfor %}
</script>

<link rel="stylesheet" type="text/css" href="..\assets\css\video.css"></stylesheet>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="..\assets\js\video.js"></script>

{% endblock %}
