{% extends 'partials/base.html.twig' %}

{% block content %} 
<link rel="stylesheet" type="text/css" href="..\assets\css\video.css"></link>
<div id="swapLanguage">
  <p>
    <a href="" id="en" >English</a>
  </p> 
  <p>|</p> 
  <p>
    <a href="" id="es" >Español</a>
  </p>
</div>
<center>
  <div class="wrapper">
    <div id="videoOptions" class="auto-grid">
      <div id="videoOption">
        <p>{{ page.header.select.videos }}</p>
        <div class="select">
          <select id="videos">
            {% for video in page.header.videos %}
              <option value="{{ video.name }}">{{ video.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div>
        <p>{{ page.header.select.languages }}</p>
        <div class="select">
          <select id="languages">
            {% for language in page.header.languages %}
              <option value="{{ language.code }}">{{ language.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div id="subtitleWrapper">
        <p>{{ page.header.select.subtitles }}</p>
        <div class="select">
          <select id="subtitles">
            <option value="off">{{ page.header.select.empty }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <h3 id="videoError"></h3>
</center>
<div id="videosFrames" class="resp-container">
  <div id="loading"></div>
</div>

<script>
  Window.Vinya = {};
  Object.assign(Window.Vinya, {'errorMsg': '{{ page.header.error }}'});
  {% for video in page.header.videos %}
    Object.assign(Window.Vinya, {'{{ video.name }}': {} })
    {% for id in video.ids %}
      Object.assign(Window.Vinya['{{ video.name }}'], { {{ id.language }}: {{ id.id }}});
    {% endfor %}
  {% endfor %}
  Window.Vinya.URLParams = {
    lang: "lang", 
    title: "video", 
    time: "time",
    sub: "sub"
  };

  // this function runs itself
  (function(){
    var lastParams = localStorage.getItem('params');
    if (lastParams != undefined && !window.location.href.includes(lastParams)) {
      window.location.search = lastParams;
    }
  })();
</script>
<script src="https://player.vimeo.com/api/player.js" defer></script>
<script src="..\assets\js\video.js" defer></script>

{% endblock %}
