{% extends 'partials/base.html.twig' %}

{% block content %} 
<link rel="stylesheet" type="text/css" href="..\assets\css\videos.css"></link>
<div id="swapLanguage">
  <p>
    <a href="" id="en" >English</a>
  </p> 
  <p>|</p> 
  <p>
    <a href="" id="es" >Español</a>
  </p>
</div>
<center>
  <div class="wrapper">
    <div id="videoOptions" class="auto-grid">
      {% block videoSelect %} 
      <div id="videoOption">
        <p>{{ page.header.select.videos }}</p>
        <div class="select">
          <select id="videos">
            {% for video in config.video.videos %}
              <option value="{{ video.name }}">{{ video.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endblock %}
      {% block languageSelect %}
      <div>
        <p>{{ page.header.select.languages }}</p>
        <div class="select">
          <select id="languages">
            {% for language in page.header.languages %}
              <option value="{{ language.code }}">{{ language.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endblock %}
      {% block subtitleSelect %}
      <div id="subtitleWrapper">
        <p>{{page.header.select.subtitles }}</p>
        <div class="select">
          <select id="subtitles">
            <option value="off">{{ page.header.select.empty }}</option>
          </select>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  <h3 id="videoError"></h3>
</center>
<div id="videosFrames" class="resp-container">
  <div id="loading"></div>
</div>

{% block inlineScript %}
<script>
  Window.Vinya = {defLang: '{{~grav.language.getActive~}}'};
  Object.assign(Window.Vinya, {'errorMsg': '{{ page.header.error }}'});
  {% for video in config.video.videos %}
    Object.assign(Window.Vinya, {'{{ video.name }}': {} })
    {% for id in video.ids %}
      Object.assign(Window.Vinya['{{ video.name }}'], { {{ id.language }}: {{ id.id }}});
    {% endfor %}
  {% endfor %}
  Window.Vinya.URLParams = {
    lang: "lang", 
    title: "video", 
    time: "time",
    sub: "sub"
  };
  // this function runs itself
  (function(){
    var lastParams = localStorage.getItem('params');
    // add the appropriate params to the website if they exist
    if (lastParams != undefined && window.location.search === '' && !window.location.href.includes(lastParams)) {
     window.location.search = lastParams;
    }
    var tempURL = new URL(window.location.href);
    if (!tempURL.searchParams.has(Window.Vinya.URLParams.lang)) {
      tempURL.searchParams.append(Window.Vinya.URLParams.lang, Window.Vinya.defLang);
      // update the browser history
      if (history.pushState) {
        window.history.pushState({path:window.location.href},'',tempURL.href);
      }
    }
  })();
</script>
{% endblock %}
<script src="https://player.vimeo.com/api/player.js" defer></script>
<script src="..\assets\js\base.js" defer></script>
{% block javascriptFunctions %}
<script src="..\assets\js\videos.js" defer></script>
{% endblock %}
<script src="..\assets\js\main.js" defer></script>
{% endblock %}
