{% extends 'partials/base.html.twig' %}

{% set select = attribute(config.video.select, grav.language.getActive) %}
{% set error = attribute(config.video.error, grav.language.getActive) %}
{% set languages = attribute(config.video.languages, grav.language.getActive) %}
{% if page.header.videoList is defined %}
  {% set videos = attribute(config.video, page.header.videoList) %}
{% endif %}

{% block content %} 
{% do assets.addCss('theme://css/videos.css') %}
<div id="swapLanguage">
  <p>
    <a href="" id="en" >English</a>
  </p> 
  <p>|</p> 
  <p>
    <a href="" id="es" >Español</a>
  </p>
</div>
<center>
  <div class="wrapper">
    <div id="videoOptions" class="auto-grid">
      {% block videoSelect %} 
      <div id="videoOption">
        <p>{{ select.videos }}</p>
        <div class="select">
          <select id="videos">
            {% for video in videos %}
              <option value="{{ video.name }}">{{ video.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endblock %}
      {% block languageSelect %}
      <div>
        <p>{{ select.languages }}</p>
        <div class="select">
          <select id="languages">
            {% for language in languages %}
              <option value="{{ language.code }}">{{ language.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endblock %}
      {% block subtitleSelect %}
      <div id="subtitleWrapper">
        <p>{{ select.subtitles }}</p>
        <div class="select">
          <select id="subtitles">
            <option value="off">{{ select.empty }}</option>
          </select>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  {% block videoOptions %}
  <span>
    <p id="videoBtnOptions">
      <a id="back">{{ select.back }}</a><span id="title">  </span><a id="next">{{ select.next }}</a>
    </p>
  </span>
  {% endblock %}
  <h3 id="videoError"></h3>
</center>
<div id="videosFrames" class="resp-container">
  <div id="loading"></div>
</div>

{% block inlineScript %}
<script>
  Window.Vinya = {
    defLang: '{{~grav.language.getActive~}}',
    errorMsg: '{{ error }}',
    localKey: '{{ page.header.pageIdentifier }}',
    videoList: {},
    functions: {},
    URLParams: {
      lang: "lang", 
      title: "video", 
      time: "time",
      sub: "sub"
    }
  };
  {% for video in videos %}
    Object.assign(Window.Vinya.videoList, {'{{ video.name }}': {} });
    Object.assign(Window.Vinya.videoList['{{ video.name }}'], { title: '{{ attribute(video.title, grav.language.getActive) }}' });
    {% for id in video.ids %}
      Object.assign(Window.Vinya.videoList['{{ video.name }}'], { {{ id.language }}: {{ id.id }}});
    {% endfor %}
  {% endfor %}
  // this function runs itself
  (function(){
    var lastParams = localStorage.getItem(Window.Vinya.localKey);
    // add the appropriate params to the website if they exist
    if (lastParams != undefined && window.location.search === '' && !window.location.href.includes(lastParams)) {
     window.location.search = lastParams;
    }
    var tempURL = new URL(window.location.href);
    if (!tempURL.searchParams.has(Window.Vinya.URLParams.lang)) {
      tempURL.searchParams.append(Window.Vinya.URLParams.lang, Window.Vinya.defLang);
      // update the browser history
      if (history.pushState) {
        window.history.pushState({path:window.location.href},'',tempURL.href);
      }
    }
  })();
</script>
{% endblock %}
{% do assets.addJs('https://player.vimeo.com/api/player.js', {priority: 107, loading: 'defer', position: 'before'}) %}
{% do assets.addJs('theme://js/base.js', {priority: 106, loading: 'defer', position: 'before'}) %}
{% block javascriptFunctions %}
  {% do assets.addJs('theme://js/videos.js', {priority: 105, loading: 'defer', position: 'before'}) %}
{% endblock %}
{% do assets.addJs('theme://js/main.js', {priority: 104, loading: 'defer', position: 'before'}) %}
{% endblock %}
