{% extends 'partials/base.html.twig' %}

{% block content %} 

<div id="swapLanguage">
  <p>
    <a href="" id="en" >English</a>
  </p> 
  <p>|</p> 
  <p>
    <a href="" id="esp" >Español</a>
  </p>
</div>

<center>
  <div class="wrapper">
    <div id="videoOptions" class="auto-grid">
      <div>
        <p>{{ page.header.select.languages }}</p>
        <select id="languages">
          {% for language in page.header.languages %}
            <option value="{{ language }}">{{ language }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="hidden" id="videoOption">
        <p>{{ page.header.select.videos }}</p>
        <select id="videos">
          {% set id = 0 %}
          {% for video in page.header.videos %}
            <option value="{{ id }}" class="{{ video.language }}">{{ video.name }}</option>
            {% set id = id + 1 %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</center>

<div id="videosFrames">
  {% set id = 0 %}
  {% for video in page.header.videos %}
    <iframe src="{{ video.link }}" width="640" height="564" frameborder="0" allow="fullscreen" 
    allowfullscreen class="hidden" id="{{ id }}"></iframe>
    {% set id = id + 1 %}
  {% endfor %}
</div>

<footer> 
  <link rel="stylesheet" type="text/css" href="..\assets\css\video.css"></stylesheet>
  <script src="..\assets\js\video.js"></script>
</footer>

{% endblock %}
